@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.demo-logo-vertical h2 {
  color: aliceblue;
  text-align: center;
  padding: 10px;
  background-color: rgb(116, 95, 40);
  border-radius: 15px;
}

.link{
    text-decoration: none;
}

.item-button{
  margin-top: 20px;
  width: 200px;
  background-color: rgb(47, 128, 0);
}

.cart-item{
  align-items: center;
}
