@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.demo-logo-vertical h2 {
  color: aliceblue;
  text-align: center;
  padding: 10px;
  background-color: rgb(116, 95, 40);
  border-radius: 15px;
}

.link{
    text-decoration: none;
}

.item-button{
  margin-top: 20px;
  width: 200px;
  background-color: rgb(47, 128, 0);
}

.cart-item{
  align-items: center;
}

.spinner-border{
  width: 200px;
  height: 200px;
}

.category{
  border: 2px solid gold;
  border-radius: 15px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(231, 217, 137);
}

.category img{
  margin-left: 10px;
}

.category-active{
  border: 2px solid green;
  background-color: rgb(182, 235, 182);
}


.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: reba(0,0,0,0.35) 0px 5px 15px;
}

.register input{
  width: 400px !important;
} 

.link{
  text-decoration: none !important;
  padding-left: 10px;
  padding-right: 100px;
}
